
email-validator==2.0.0.post2
fastapi==0.95.1
python-dotenv==1.0.0
python-multipart==0.0.6
requests==2.22.0
SQLAlchemy==2.0.12
starlette==0.26.1
typing_extensions==4.5.0
uvicorn==0.22.0
uvloop==0.17.0
psycopg2-binary==2.9.6